@CHARSET "UTF-8";

input.file_name {
	float: left;
}

.file_input_div {
	position: relative; 
	width: 100px; 
	height: 23px; 
	overflow: hidden;
	float: left;
}

.file_input_button {	/* 파일 선택 태그 대신 사용하는 버튼 */
	width: 100px; 
	position: absolute; 
	top: 0px;
	background-color: #0080ff;
	color: #ffffff;
	border-style: solid;
}

.file_input_hidden {	/* 파일 선택 태그 숨김 */
	font-size: 45px; 
	position: absolute; 
	right: 0px; 
	top: 0px; 
	opacity: 0; 
	filter: alpha(opacity=0); 
	-ms-filter: "alpha(opacity=0)"; 
	-khtml-opacity: 0; 
	-moz-opacity: 0;
}





















