<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.web8.mapper.BoardMapper">
	
	<!-- 게시글 개수 -->
	<select id="totalNum" resultType="int">
		SELECT
			COUNT(boardnum)
		FROM
			board8
	</select>
	
	
	<!-- 모든 글 읽어오기 -->
	<select id="readAll" resultType="Board">
		SELECT
			*
		FROM
			board8
		ORDER BY
			boardnum DESC
	</select>
	
	
	<!-- 글 하나 읽어오기 -->
	<select id="readOne" parameterType="int" resultType="Board">
		SELECT
			*
		FROM
			board8
		WHERE
			boardnum = #{value}
	</select>
	
	
	<!-- 글 쓰기 -->
	<insert id="write" parameterType="Board">
		INSERT INTO board8
			(boardnum, id, title, content)
		VALUES
			(board8_seq.nextval, #{id}, #{title}, #{content})
	</insert>
	
	
	<!-- 조회수 증가 -->
	<update id="updateHits" parameterType="int">
		UPDATE
			board8
		SET
			hits = hits + 1
		WHERE
			boardnum = #{value}
	</update>
	
	
	<!-- 글 수정 -->
	<update id="update" parameterType="Board">
		UPDATE
			board8
		SET
			title = #{title},
			content = #{content}
		WHERE
			boardnum = #{boardnum}
	</update>
	
	
	<!-- 글 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM
			board8
		WHERE
			boardnum = #{value}
	</delete>
	
	
	<!-- 게시글 검색 -->
	<select id="selectList" parameterType="HashMap" resultType="Board">
		SELECT
			*
		FROM
			board8
		<if test="_parameter.get('select') != null and _parameter.get('select') != ''">
			<choose>
				<when test="_parameter.get('select') == 'title'">
					WHERE
						title LIKE '%' || #{text} || '%'
				</when>
				<when test="_parameter.get('select') == 'author'">
					WHERE
						id LIKE '%' || #{text} || '%'
				</when>
				<when test="_parameter.get('select') == 'content'">
					WHERE
						content LIKE '%' || #{text} || '%'
				</when>
				<when test="_parameter.get('select') == 'titleAndContent'">
					WHERE
						title LIKE '%' || #{text} || '%' OR
						content LIKE '%' || #{text} || '%'
				</when>
			</choose>
		</if>
		ORDER BY
			boardnum DESC
	</select>
	
	
	<!-- 게시글 개수 -->
	<select id="selectTotalCount" parameterType="String" resultType="int">
		SELECT
			COUNT(*)
		FROM
			board8
		<if test="_parameter != null and _parameter != ''">
		WHERE
			title LIKE '%' || #{value} || '%'
		</if>
	</select>
</mapper>
























